/* stylizacja strony głównej - rozdzielczość maksymalna, background strony */


.homepage-bg {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 95vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--jasne, linear-gradient(90deg, #D9C3F3 0%, #F2E7FF 50%, #AF8ADA 100%));
}

.homepage-section {
    display: flex;
    width: 1440px;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
}

div.column1 {
    display: flex;
    flex-direction: column;
    width: 56.4%;
}

div.column2 {
    width: 43.6%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}


/* TABLET POZIOMO */
@media screen and (min-width: 1025px) and (max-width: 1300px) {
    .homepage-bg {
        min-height: 100vh;
        height: 100%;
    }
    .homepage-section {
        width: 93%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10rem;
        padding-left: 0;
        padding-right: 0;
    }
    .homepage-search-weather-container {
        display: flex;
        flex-direction: column;
    }

    div.column1 {
        width: 100%;
        text-align: center;
    }

    div.column2 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    div.search-weather {
        margin-left: 1.5rem;
    }

    div.slider-weather-box {
        margin-top: 3rem;
        border-radius: 35px;
        padding: 1.5rem;
        width: 325px !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, #7A39C9 0%, #9356DD 55%, #C99FFC 100%);
    }

    div.weatherbox-slider-container {
        width: 100% !important; 
        justify-content: center !important;
        gap: 1rem !important;
    }

    div.search-weather-box {
        margin-top: 3rem !important;
    }
}


/* TABLET PIONOWO */
@media screen and (min-width: 801px) and (max-width: 1024px) {
    .homepage-bg {
        min-height: 100vh;
        height: 100%;
    }
    .homepage-section {
        width: 93%;
        display: flex;
        margin-bottom: 10rem;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .homepage-search-weather-container {
        display: flex;
        flex-direction: column;
    }

    div.column1 {
        width: 100%;
        text-align: center;
    }

    div.column2 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    div.search-weather {
        margin-left: 1.5rem;
    }

    div.slider-weather-box {
        margin-top: 3rem;
        border-radius: 35px;
        padding: 1.5rem;
        width: 319px !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, #7A39C9 0%, #9356DD 55%, #C99FFC 100%);
    }

    div.weatherbox-slider-container {
        width: 100% !important; 
        justify-content: center !important;
        gap: 1rem !important;
    }

    div.search-weather-box {
        margin-top: 3rem !important;
    }
}

@media screen and (max-width: 800px) {

    .homepage-bg {
        min-height: 100vh;
        height: 100%;
    }
    .homepage-section {
        width: 93%;
        display: flex;
        margin-bottom: 10rem;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    .homepage-search-weather-container {
        display: flex;
        flex-direction: column;
    }

    div.column1 {
        width: 100%;
        text-align: center;
    }

    div.column2 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    div.search-weather {
        margin-left: 1.5rem;
    }
    
    div.search-weather-box {
        margin-top: 3rem !important;
        border-radius: 35px;
        padding: 1.5rem;
        width: 90% !important;
        height: auto !important;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        display: flex;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(180deg, #7A39C9 0%, #9356DD 55%, #C99FFC 100%);
    }
    
    .weatherbox-params {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        grid-template-areas: none !important;
        gap: 15px;
        margin-top: 2rem;
    }

    div.slider-weather-box {
        width: 174% !important;
    }

}
/* ###################################################################### */

  
/* stylizacja ikony wewnątrz wyszukiwarki oraz przesunięcie i nasunięcię */

img.search-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
}

div.search-icon-container {
    height: 45px;
    display: flex;
    align-items: center;
    margin-right: -4rem;
    z-index: 1;

}

/* ###################################################################### */


 /* stylizacja inputu wyszukiwarki */

input.search-city {
    height: 55px; /* Wysokość pola wyszukiwania */
    width: 325px;
    border: none; /* Usunięcie obramowania */
    border-radius: 16px; /* Zaokrąglenie rogów */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 10px; /* Wewnętrzny padding dla równomiernego odstępu od krawędzi */
    font-size: 16px; /* Rozmiar czcionki */
    text-align: center;
    background: #7A7A7A;
    color: white;
}

input.search-city::placeholder {
    color: white;
    font-family: Inter, sans-serif;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input.search-city:focus::placeholder {
    color: #AFAFAF;
    font-family: Inter;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

input.search-city:focus {
    outline: none;
    color: white;
}

div.search-weather {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-bottom: 2rem;  */
}

/* ###################################################################### */

 /* stylizacja box'a z informacjami pogodowymi */

div.search-weather-box {
    margin-top: 5.7rem;
    border-radius: 35px;
    padding: 1.5rem;
    width: 536px;
    height: 396px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #7A39C9 0%, #9356DD 55%, #C99FFC 100%);
}

div.slider-weather-box {
    margin-top: 3rem;
    border-radius: 35px;
    padding: 1.5rem;
    width: 350px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(180deg, #7A39C9 0%, #9356DD 55%, #C99FFC 100%);
}

 /* stylizacja separatorow  z informacjami pogodowymi */

 div.separator-weatherbox {
    width: 130px;
    height: 1px;
    background: #B0B0B0;
    margin-top: 0.3rem;
}

div.separator-weatherbox-pionowo {
    width: 1.5px;
    height: 19px;
    background: #B0B0B0;
}

/* ###################################################################### */


div.homepage-search-weather-container {
    margin-top: 5rem;
    display: flex;
    width: 100%;
    gap: 2rem;
}

div.city-weatherbox {
    display: flex;
    margin-top: 0.5rem;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
}


.weatherbox-params {
    display: grid;
    grid-template-areas: 
        "box1 box2 box3"
        "box4 box4 box5";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 2rem;
}

div.weatherbox-params-small {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-top: 2rem;
}

.weather-grid {
    display: flex;
    flex-direction: column;
    height: 100px;
    background: linear-gradient(180deg, #7D39CE 0%, #8257B6 100%);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0.7rem;
}

.box1 { grid-area: box1; }
.box2 { grid-area: box2; }
.box3 { grid-area: box3; }
.box4 { 
    grid-area: box4; 
    display: flex;
    justify-content: space-between;
    padding: 0.7rem;
    height: 100px;
    background: linear-gradient(180deg, #7D39CE 0%, #8257B6 100%);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.box5 { grid-area: box5; }

@media screen and (min-width: 768px) {
    .weatherbox-params {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box4 {
        grid-column: span 2;
        display: flex;
        grid-template-columns: 70% 30%;
    }
}

@media screen and (max-width: 800px) {
    .weatherbox-params {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .box4 {
        grid-column: span 2;
        display: flex;
        grid-template-columns: 70% 30%;
    }
}






img.weather-icon {
    width: 30px;
    height: 30px;
}

div.indeksUV-heading {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 0.5rem;
    gap: 0.5rem;
}

div.indeksUV-data {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

div.weather-grid-data-container {
    display: flex;
    flex-direction: column;
    width: 147px;

}

img.uv-bar-icon {
    margin-top: -0.5rem;
    width: 100%;
}

.weather-grid.box4 {
    display: flex;
    flex-direction: row-reverse;
}

.box4-content {
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    width: 110px; 
}

img.weathersquare {
    width: 100%; 
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

img.arrow360 {
    width: 100%; 
    height: 100%;
}

.weathersquare-round {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 30px;
    z-index: 3; 
    background-color: #8257B6;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.fixArrow {
    position: absolute;
    width: 60%; 
    height: 100%;
    z-index: 0; 
}


div.weatherbox-slider-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
    gap: 1rem;
}


